<div class="coins-main">
    <div class="row">
        <div class="col-md-4">
            <div class = "income-coins">
                <span>Admin income: 10 coins</span>
            </div>
            <div class="outcome-coins">
                <span>Admin outcome: 10 coins</span>
            </div>
        </div>
        <div class="col-md-4">
            <Button class = "btn btn-primary"> Sent coin to lecturer</Button>
        </div>
    </div>

    <div class="row" *ngIf = "showFormSentCoins()">
        <div class = "form-sent-coins">
            formfomr
        </div>
    </div>
    
</div>