.card{
    width: 35%;
    height: auto;
    display: block;
    padding: 5px;
    align-items: center;
    margin-left: 30vw;
}


.name-lecturer{
    display: block;
}

.coins{
    margin-left: 5px;
    margin-right: 5px;
    width: 60px;
    padding: 5px;
    background-color: #4EACE1;
    color: #ffff;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.btn-select-img{
    margin-top: 10px;
    color: #ffff;
    background-color: black;
    width: 120px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.btn-select-img:hover{
    border: solid 3px #4d4d4d;
}

.btn-create-request{
    margin-top: 10px;
    text-align: center;
    color: #ffff;
    background-color: #4EACE1;
    display: block;
    border: none;
    border-radius: 10px;
}

.btn-create-request:hover{
    border: solid 3px #D5F3FE;
}