.footer {
    height: 150px;
    box-shadow: 1px -3px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer p {
    float: inline-end !important;
    margin-left: 10px;
}