.footer {
    height: 150px;
    box-shadow: 1px -3px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    /* position: absolute; */
    width: 100%;
<<<<<<< HEAD
   
=======
>>>>>>> 8dd3881... install module materials
}

.footer p {
    float: inline-end !important;
    margin-left: 10px;
}


