@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url("~font-awesome/css/font-awesome.css");
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 99999999;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(64, 129, 250);
    padding-left: 20px;
    padding-top: 10px;
}

.form-group {
    display: flex;
}

.form-group i {
    position: absolute;
    font-size: 23px;
    margin-left: 15px;
    padding-top: 7px;
    color: rgb(73, 73, 73);
}

.search-input {
    margin-left: 10px;
    margin-right: 10px;
}

.form-group .form-control {
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 50px;
}

.action-button {
    text-align: center;
}

.action-button a {
    width: 80px;
    height: 29px;
    background: #4EBEE1;
    border-radius: 10px;
    border: none;
    display: inline-flex;
    outline: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin: 5px;
    text-decoration: none;
}

.navbar-toggler-icon i {
    font-size: 25px;
}

.navbar-collapse {
    text-align: center;
}

.btn-signin,
.btn-signup {
    text-align: center;
    padding-top: 5px;
    padding-left: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@media (max-width: 762px) {
    .action-button {
        display: inline-grid;
    }
}