@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
.single-section {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.section-name {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 20px;
    color: black;
    height: 25px;
}

.section-name i {
    padding-right: 15px;
}

.section-name-p {
    height: 40px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.section-name i {
    font-size: 18px;
}

.lecturre-list {
    margin-left: 10px;
    margin-right: 30px;
}

.lecturre-list ul {
    list-style: none;
}

.lecturre-list ul li {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-left: 14px;
    padding-top: 5px;
    border-bottom: 1px white solid;
}

.lecturre-list ul li h6 {
    width: 80%;
    text-align: right;
}

.lecturre-list ul li span {
    text-align: right;
}

