<div class="single-section">
    <a class="section-name-p" data-bs-toggle="collapse" [href]=" '#section' +section" role="button" [attr.aria-controls]="'section' +section" aria-expanded="false">
        <a class="section-name">
            <i class="fa fa-caret-down"></i> Section {{section}}
        </a>
    </a>

    <div class="collapse" [id]="'section'+ section">
        <div class="lecturre-list">
            <ul>
                <li>
                    <a href="#" class="title-lecture">Giải toán căn bản với phương trình</a>
                    <h6 class="time"><i class="bi bi-clock-fill"></i>1:30</h6>
                </li>
                <li>
                    <a href="#" class="title-lecture">Giải toán căn bản với trình</a>
                    <h6 class="time"><i class="bi bi-clock-fill"></i>1:30</h6>
                </li>
                <li>
                    <a href="#" class="title-lecture">Giải toán căn bản </a>
                    <h6 class="time"><i class="bi bi-clock-fill"></i>1:30</h6>
                </li>
            </ul>
        </div>
    </div>
</div>