@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
.single-section {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.section-name {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 20px;
    color: black;
    height: 25px;
}

.section-name i {
    padding-right: 15px;
}

.section-name-p {
    height: 35px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.section-name i {
    font-size: 16px;
}

.lecturre-list {
    margin-left: 5px;
    margin-right: 30px;
}

.lecturre-list ul {
    list-style: none;
}

.lecturre-list ul li {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    color: rgb(46, 46, 46);
    border-bottom: 1px rgb(196, 196, 196) solid;
}

.title-lecture {
    width: 80%;
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.lecturre-list .time {
    width: 20%;
    text-align: right;
    font-size: 13px;
    color: rgb(102, 102, 102);
}

.lecturre-list ul li span {
    text-align: right;
}