
<div class = "search-screen">
    <div class = "nav-search-blank"></div>
<div class="search-main container">
    <div class="row">
        <div class="col-md-3 list-filter-main" >
            <app-filter (sendGradeChoose) = "receiveGrade($event)" (sendCategoryChoose) = "receiveCategory($event)"></app-filter>
        </div>
        <div class = "col-md-9 ">
            <div  *ngIf = "isFindList()" class="list-search-main">
                <app-list-search [listCourseResult] = "listCourse"></app-list-search>
             </div>
     
             <div  *ngIf = "!isFindList()">
                 <div class="not-find">
                     <div class = "message">Not find course !</div>
                 </div>
             </div>
        </div>
       
    </div>
</div>
</div>