.search-main{
    display: block;
  
}

.list-search-main{
   
    margin-top: 100px;
}

.nav-search-blank{
    background-color: white;
    height: 100px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;
    
}

.list-filter-main{
    margin-top: 100px;
}

.search-screen{
    display: block;
    height: 350vh; 
}

.message{
    
    color: black;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 25vw;
    padding-top: 30vh;
    font-weight: 500;
    
}

.not-find{
    
    display: block;
   background-color: #f4f4f4;
   height: 100vh;
   border-radius: 5px;

}