.home-screen {
    margin-top: 55px;
}
.btn-new-course{
    width: 200px;
    background: rgb(64, 129, 250);;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
}
.wrapper{
    display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
}