<div class="container admin-main">
    <div class="option">
        <div class="row">
            <div class="col-md-3">
                <button class = "btn ">
                    Learner Managerment
                </button>
            </div>
            <div class="col-md-3">
                <button class = "btn ">
                    Learner Managerment
                </button>
            </div>
            <div class="col-md-3">
                <button class = "btn">
                    Learner Managerment
                </button>
            </div>
            <div class="col-md-3">
                <button class = "btn">
                    Learner Managerment
                </button>
            </div>
        </div>
    </div>
    <div class="table-detail">
        <app-table-learner></app-table-learner>
    </div>
    
</div>
