<div class="edit-screen container">
  <app-course-info></app-course-info>

  <app-course-section
    *ngFor="let section of sections"
    [section]="section"
  ></app-course-section>
  <ul>
    <button class="btn-create-new">Create new Section</button>
  </ul>
  <br />
  <div class="div-save">
    <button class="btn-create-new btn-save">Save Change</button>
  </div>

  <br />
  <br />
  <br />
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{wayModify==0? 'Create': (wayModify==1)?'Edit':'Delete'}}</h4>
    <button
      type="button"
      class="btn btn-white close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="wayModify == 2">Are you sure delete</div>
    <div class="mb-3 row " *ngIf="wayModify != 2">
      <label for="name" class="col-sm-4 col-form-label">
        Title {{typeSelection==0?'section':'lession'}}</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="name"
          [value]="
            typeSelection == 0 ? sectionCurrent.name : lessionCurrent.title
          "
          placeholder="Title course"
        />
      </div>
      <div *ngIf="typeSelection==1">
        <input
          #file
          type="file"
          accept="video/mp4,video/x-m4v,video/*"
          (change)="handleFileInput($event)" 
        />
        <button class="btn-upload" (click)="file.click()">
          Upload thumbnail
        </button>
        <span class="url-video">{{ urlVideo }}</span>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Save
    </button>
  </div>
</ng-template>
