.image-card {
    position: absolute;
    width: 280px;
    height: 300px;
    top: 100px;
    border-radius: 10px;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    text-align: center;
    z-index: 10000;
}

.img-course {
    height: 180px;
    width: 100%;
}

.img-course {
    padding: 4px;
    border-radius: 10px;
}

.price {
    font-size: 25px;
    color: rgba(255, 143, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}

.btn-go-course {
    width: 150px;
    background-color: rgba(78, 190, 225, 1);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 35px;
    text-align: center;
    margin-left: 60px;
}