<div class=" row deposit">
    <div class="col-md-2"></div>
    <div class="col-md-7 wallet">
        <h4>My coins: 10
            <span><button class="btn-primary btn-deposit">Deposit more</button></span>
        </h4>
        <p>Deposit history</p>
        <div class="deposit-history">
            <table class="table-light table-history">
                <tbody>
                    <tr>
                        <td>6/25/2021 10:24 PM</td>
                        <td>Depositing 10 coins</td>
                    </tr>
                    <tr>
                        <td>6/25/2021 10:24 PM</td>
                        <td>Depositing 10 coins</td>
                    </tr>
                    <tr>
                        <td>6/25/2021 10:24 PM</td>
                        <td>Depositing 10 coins</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-3"></div>
</div>