<div class="row detail-info">
    <div class="col-md-2"></div>
    <div class="col-md-6 info-course">
        <h3 class="name-course"> {{target_course.title}} </h3>
        <!-- <p class="teacher"> {{target_course.teacher}} </p> -->
        <p class="description-course">Learn how to burn up your scares into dare to speak with client.This course is your perfect teacher in you CEO path</p>
        <div class="row count-info">
            <div class="col-md-4">20 students joined</div>
            <div class="col-md-4">15 lectures</div>
            <div class="col-md-4">Last update 6/2021</div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 card-course">
        <app-card-image [course]="target_course"></app-card-image>
    </div>
</div>