<div class=" row deposit">
    <div class="col-md-1"></div>
    <div class="col-md-10 wallet">
        <h4>My coins: 10
            <span><button (click)="isHiden = !isHiden" class="btn-primary btn-deposit">Deposit coins</button></span>
        </h4>
        <div class="transfer-information" [hidden]="isHiden">
            <app-transfer-information></app-transfer-information>
        </div>

        <p>Deposit history</p>
        <div class="deposit-history">
            <table class="table-light table-history">
                <thead>
                    <tr>
                        <th>Date time</th>
                        <th>Amount</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            6/25/2021 10:24 PM <br> Status: <span>Pending</span>
                        </td>
                        <td>100,000 VND</td>
                        <td><button class="btn-view">View</button></td>
                    </tr>
                    <tr>
                        <td>
                            6/25/2021 10:24 PM <br> Status: <span>Confirmed at 6/30/2021 3:55:00 PM</span>
                        </td>
                        <td>100,000 VND</td>
                        <td><button class="btn-view">View</button></td>
                    </tr>

        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <app-table-wallet-admin [isAdmin]="false"></app-table-wallet-admin>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>