.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0,0, 0.75);
    z-index: 5000;
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 40vw;
    max-width: 50vw;
    padding: 20px;
    z-index: 10000;
    width: 20vw;
    box-shadow: 2 1px 2px rgba(0, 0,0, 0.26);
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
    vertical-align: middle;
    align-items: center;
}

.alert-box-actions{
    text-align: right;
}

.img-fluid{
    max-width: 40vw;
    max-height: 60vh;
}

.btn{
    margin-top: 10px;
    height: 35px;
    width: 100px;
}

.btn.btn-danger{
    margin-left: -30px;
}

.btn.btn-primary{
    margin-left: 20px;
}