<div class="media">
    <div class="media-left">
        <img src="../../../../assets/images/img1.jpg" class="media-object">
    </div>
    <div class="media-body">
        <h5 class="media-heading title">Minh Ngọc
            <h6 class="time-comment">1 hours ago</h6>
        </h5>
        <p class="comment-content">
            Bài giảng rất hay và bổ ích.
        </p>
        <div class="child-comment">
            <div class="child-media">
                <div class="media-left">
                    <img src="../../../../assets/images/img1.jpg" class="media-object">
                </div>
                <div class="media-body">
                    <h5 class="media-heading title">Lecture
                        <h6 class="time-comment">25 minutes ago</h6>
                    </h5>
                    <p class="comment-content">
                        Cảm ơn em nhé.
                    </p>

                </div>
            </div>
            <div class="child-media">
                <div class="media-left">
                    <img src="../../../../assets/images/img1.jpg" class="media-object">
                </div>
                <div class="media-body">
                    <h5 class="media-heading title">Minh Ngọc
                        <h6 class="time-comment">1 hours ago</h6>
                    </h5>
                    <p class="comment-content">
                        Dạ không có gì
                    </p>

                </div>
            </div>
            <div class="child-media comment-input">
                <div class="media-left">
                    <img src="../../../../assets/images/img1.jpg" class="media-object">
                </div>
                <div class="media-body">
                    <form>
                        <input class="form-control comment-text" type="text" name="comment-in" placeholder="Enter your comment ...">
                        <button type="submit" class=" btn-comment">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>