<div class="card">
    <img class="img-fluid img-course" src="../../../assets/images/img1.jpg" alt="">
    <div class="info-course">
        <a href="#" class="course-name">{{course.title}}</a>
        <!-- <span class="teacher">{{course.teacher}} </span> -->
        <p class="course-description">It is a long established fact that a reader will be distracted ...</p>
        <div class="users-count" style="cursor: pointer;" 
        (click)= "onEditCourse()">
        <span class="info-course more-info">Update on: 20/20/2020</span>

        <i class="fa fa-pencil"></i> 

        </div>
    </div>
</div>